<%- include("../components/head"), {title:title} %>

<div class="file-upload">
    <div class="menu">
        <ul>
            <li>Upload</li>
            <li>Files</li>
        </ul>
    </div>
    <div class="drag-area">
        <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
        <header>Drag & Drop to Upload File</header>
        <span>OR</span>
        <button>Browse File</button>
        <input type="file" hidden>
    </div>
</div>
<script src="/js/dragdrop.js"></script>

<%- include("../components/footer")%>

