<!--Footer-->
<footer class="bg-light text-lg-start">
  <div class="py-4 text-center">

  <hr class="m-0" />
    <p class="mb-0">
        <strong>Copyright Abdulrahman Sakah&copy; 2022 </strong>
  </div>
</footer>
<!--Footer-->
  <!-- MDB -->
  <script type="text/javascript" src="/blog/js/mdb.min.js"></script>
  <!-- Custom scripts -->
  <script type="text/javascript" src="/blog/js/script.js"></script>
</body>
</html>